*{
    margin: 0;
    box-sizing: border-box;
}
.card{
width: 40%;
padding-top: 150px;
padding-left: 50px;
}
.img1{
    width: 60%;
    object-fit: cover;
    height: 100vh;
}
.div1{
    display: flex;
}